@import "../../Styles/variables";
@import "../../Styles/_mixins.scss";

.items-swiper-container1 {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  margin-top: 8rem;
  margin-bottom: auto;

  h1 {
    color: white;
    font-family: $font-RobotoSlab;
    margin-bottom: 3rem;
  }

  .cast-name {
    padding-left: auto;
    padding-right: auto;
    font-size: 1.2001rem;
    color: white;
    font-family: $font-RobotoSlab;
  }

  .movies1 {
    height: 18.9rem;
    width: 12.6rem;
    border-radius: 0.4rem;
    padding-right: 2rem;
    .movies-img1 {
      border-radius: 0.8rem;
      max-width: 12.6rem;
      max-height: 19.2rem;
    }
  }
}

// @media screen and (max-width: 1300px) {
//   .items-swiper-container {
//     margin-top: 16rem;
//     margin-left: 12rem;
//     margin-right: 12rem;
//   }
// }
