@import "../Styles//variables";

.home-container {
  background: $primary-color;
  .fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
    z-index: 100;
  }
  .home-movie-list {
    margin-top: 0;
  }
}
