@import "../../Styles/variables";
@import "../../Styles/_mixins.scss";

.movie-heroimage-container {
  //   z-index: -5;
  .movie-imagediv-container {
    .movie-heroimage-container {
      color: white;
      min-height: 100vh;
      display: flex;
      flex-direction: row;
      //  justify-content: flex-end;
      align-items: flex-end;

      .movie-desc-container {
        display: flex;
        flex-direction: row;
        padding-left: 15rem;
        padding-bottom: 10rem;
        .movie-items-container {
          color: white;

          .movies-info {
            // z-index: 1;
            height: 18.9rem;
            width: 12.6rem;
            border-radius: 0.4rem;
            // background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6))
            //   center center / cover no-repeat;

            .movies-infoimg {
              position: relative;
              display: block;
              //   z-index: -10;
              border-radius: 0.8rem;
              max-width: 12.6rem;
              max-height: 19.2rem;
            }
          }
        }

        .movie-info-details {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding-left: 2rem;
          .movieinfo-title {
            font-size: 2.5rem;
            font-family: $font-RobotoSlab;
          }

          .movieinfo-tagline {
            font-family: $font-AlegreyaSans;

            font-size: 1.8rem;
          }

          .movieinfo-rating {
            padding-top: 1.5rem;
            font-size: 2rem;
            font-family: $font-Lato;
          }

          .movie-info-genre {
            font-size: 2rem;
            padding-right: 1rem;
            display: inline-block;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .movie-heroimage-container {
    //   z-index: -5;
    .movie-imagediv-container {
      .movie-heroimage-container {
        min-height: 50vh;

        .movie-desc-container {
          padding-left: 2rem;
          padding-bottom: 2rem;
          .movie-items-container {
            .movies-info {
              height: 14rem;
              width: 9.4rem;
              border-radius: 0.4rem;

              .movies-infoimg {
                border-radius: 0.8rem;
                height: 14rem;
                width: 9.4rem;
              }
            }
          }

          .movie-info-details {
            padding-left: 1.5rem;
            .movieinfo-title {
              font-size: 1.8rem;
              font-family: $font-RobotoSlab;
            }

            .movieinfo-tagline {
              font-family: $font-AlegreyaSans;

              font-size: 1.4rem;
            }

            .movieinfo-rating {
              padding-top: 1.5rem;
              font-size: 1.4rem;
              font-family: $font-Lato;
            }

            .movie-info-genre {
              font-size: 1.2rem;
              padding-right: 1rem;
              display: inline-block;
            }
          }
        }
      }
    }
  }
}
